

@import url('https://www.dafont.com/pt/gunplay.font?back=theme');

@font-face {
    font-family: 'Gunplay';
    src: url('../fontes/gunplay\ rg.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor-logo:#09082f;
    
    --fonte-logo:'Gunplay',Arial, Helvetica, sans-serif;
    --fonte-padrao: Arial, Helvetica, sans-serif;
}



.container{
    background-color: #09082f
}

body{
    background-color: #09082f;
}

label{
    color: white;
}

h1{
    color: white;
}